name: publish AuthSocial API

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

jobs:
  publish:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      # publish snapshots from master branch
      - name: Upload snapshots to Maven repository
        env:
          REGISTRY_TOKEN: ${{ secrets.MVN_PUBLISH_TOKEN }}
          VERSION: 0.1.0-SNAPSHOT-master-${{ github.run_number }}
        run: |
          ./gradlew :publish